// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/clock/mstar.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x0>;
			clocks = <&cpuclk>;
			clock-names = "cpuclk";
		};
	};

	arch_timer {
		compatible = "arm,armv7-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(2)
				| IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(2)
				| IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(2)
				| IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(2)
				| IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <6000000>;
	};

	pmu {
		compatible = "arm,cortex-a7-pmu";
		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 28 IRQ_TYPE_LEVEL_HIGH>;
	};

	clocks: clocks {
		/*
		 * For the msc313e there is only a 24mhz clock input so everything else must come
		 * from this base clock unless there are some on-die oscillators that aren't mentioned
		 * anywhere.
		 */
		xtal24: xtal24 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
		};

		xtal12: xtal12 {
			#clock-cells = <0>;
			compatible = "fixed-factor-clock";
			clocks = <&xtal24>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		rtc_32k: rtc_32k {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <32768>;
		};

		rtc32k_div4: rtc32k_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&rtc_32k>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		xtal12_div2: xtal12_div2 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&xtal12>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		xtal12_div4: xtal12_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&xtal12>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		xtal12_div8: xtal12_div8 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&xtal12>;
			clock-div = <8>;
			clock-mult = <1>;
		};

		xtal12_div12: xtal12_div12 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&xtal12>;
			clock-div = <12>;
			clock-mult = <1>;
		};

		xtal12_div16: xtal12_div16 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&xtal12>;
			clock-div = <16>;
			clock-mult = <1>;
		};

		xtal12_div40: xtal12_div40 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&xtal12>;
			clock-div = <40>;
			clock-mult = <1>;
		};

		clk_mpll_288_div2: clk_mpll_288_div2 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 8>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		clk_mpll_288_div4: clk_mpll_288_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 8>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		clk_mpll_288_div8: clk_mpll_288_div8 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 8>;
			clock-div = <8>;
			clock-mult = <1>;
		};

		clk_mpll_216_div2: clk_mpll_216_div2 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 9>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		clk_mpll_216_div4: clk_mpll_216_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 9>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		clk_mpll_216_div8: clk_mpll_216_div8 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 9>;
			clock-div = <8>;
			clock-mult = <1>;
		};

		clk_mpll_144_div2: clk_mpll_144_div2 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 11>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		clk_mpll_144_div4: clk_mpll_144_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 11>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		clk_mpll_86_div2: clk_mpll_86_div2 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 14>;
			clock-div = <2>;
			clock-mult = <1>;
		};

		clk_utmi_192_div4: clk_utmi_192_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 3>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		clk_utmi_160_div4: clk_utmi_160_div4 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 2>;
			clock-div = <4>;
			clock-mult = <1>;
		};

		clk_utmi_160_div5: clk_utmi_160_div5 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 2>;
			clock-div = <5>;
			clock-mult = <1>;
		};

		clk_utmi_160_div8: clk_utmi_160_div8 {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clocks = <&clkgen_pll 2>;
			clock-div = <8>;
			clock-mult = <1>;
		};
	};

	soc: soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		isp: isp@1f001000 {
			compatible = "mstar,msc313-isp";
			reg = <0x1f001000 0x400>,
			      <0x1f002c00 0x200>,
			      <0x1f002e00 0x200>,
			      <0x14000000 0x1000000>;
			clocks = <&clkgen_mux_aesdma_isp 1>;
			interrupts-extended = <&intc_irq 5 IRQ_TYPE_LEVEL_HIGH>;
			dmas = <&bdma 0>, <&bdma 1>;
			dma-names = "qspi", "qspi";
			status = "disabled";
		};

		sleepintc: sleepintc@1f001c10 {
			compatible = "mstar,msc313e-sleep-intc";
			reg = <0x1f001c10 0x8>;
			interrupts-extended = <&intc_irq 2 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		clkgen_mux_rtc_sar: clkgen_mux@1f001c88 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f001c88 0x4>;
			#clock-cells = <1>;
			clock-output-names = "rtc", "sar", "pm_sleep";
			shifts = <0>, <5>, <10>;
			mux-shifts = <2>, <7>, <12>;
			mux-widths = <2>, <3>, <3>;
			mux-ranges = <0 2>, <0 8>, <0 8>;
			clocks = <&clkgen_mux_xtali 0>,
					 <&rtc_32k>,
					 <&xtal12_div8>,
					 <&xtal12_div12>,
					 <&rtc32k_div4>,
					 <&xtal12_div16>,
					 <&xtal12_div2>,
					 <&xtal12_div4>;
		};

		pmsleep: syscon@0x1f001cb8 {
			/* msc313e notes */
			/* 0x1f001c00 - wake up source */
			/*
			 * 1f001c24 -- bit 11 disables pm uart rx
			 * -- bit 15 is set when going into deep sleep
			 *
			 * mysteryclk1 1f001cf4
			 * 0x1f001cc0 -- ??
			 * 0x1f001cc8  -- set to 9fe8 before deep sleep
			 * 0x1f001ccc  -- set to 9fe8 before deep sleep
			 * 0x1f001cdc  -- set to 0xa5 before deep sleep
			 * 0x1f001c70  -- set to 0x0c before deep sleep
			 * 0x1f001c48  -- set to 0xbabe before deep sleep
			 *
			 * 1f001cec -- return address after resume
			 * 1f001cf0
			 * 1f001cf4 -- clck for timers?
			 */
			/*
			 * 0x1f001cb8 - writing 0x79 triggers a cpu reset
			 * 0x1f001cbc - bit 3 in here controls something to do with the temp sensor
			 */
			compatible = "syscon";
			reg = <0x1f001cb8 0x8>;
		};

		gpio_pm: gpio_pm@1f001e00 {
			reg = <0x1f001e00 0x200>;
			#gpio-cells = <2>;
			gpio-controller;
			interrupt-controller;
			#interrupt-cells = <3>;
			interrupt-parent = <&sleepintc>;
			status = "disabled";
		};

		reboot {
			compatible = "syscon-reboot";
			regmap = <&pmsleep>;
			offset = <0x0>;
			mask = <0x79>;
		};

		rtc: rtc@1f002400 {
			compatible = "mstar,msc313e-rtc";
			reg = <0x1f002400 0x40>;
			clocks = <&clkgen_mux_rtc_sar 0>;
			interrupt-parent = <&intc_irq>;
			interrupts = <44 IRQ_TYPE_LEVEL_HIGH>;
		};

		sar: sar@1f002800 {
			compatible = "mstar,msc313e-sar";
			reg = <0x1f002800 0x200>;
			interrupts-extended = <&intc_irq 45 IRQ_TYPE_LEVEL_HIGH>,
					      <&intc_fiq 24 IRQ_TYPE_LEVEL_HIGH>,
					      <&intc_fiq 25 IRQ_TYPE_LEVEL_HIGH>,
					      <&intc_fiq 26 IRQ_TYPE_LEVEL_HIGH>,
					      <&intc_fiq 27 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "sar",
					  "sar_gpio0",
					  "sar_gpio1",
					  "sar_gpio2",
					  "sar_gpio3";
			clocks = <&clkgen_mux_rtc_sar 1>;
			clock-names = "sar_clk";
			status = "disabled";
			#gpio-cells = <2>;
			sar0_gpio0_pins: sar0_gpio0 {
				function = "sar0";
				groups = "sar_gpio0";
			};
			sar1_gpio1_pins: sar1_gpio1 {
				function = "sar1";
				groups = "sar_gpio1";
			};
			sar2_gpio2_pins: sar2_gpio2 {
				function = "sar2";
				groups = "sar_gpio2";
			};
			sar3_gpio3_pins: sar3_gpio3 {
				function = "sar3";
				groups = "sar_gpio3";
			};
		};

		efuse: efuse@0x1f004000 {
			compatible = "mstar,msc313-efuse";
			reg = <0x1f004000 0x8>;
		};

		wdt: wdt@1f006000 {
			compatible = "mstar,msc313e-wdt";
			reg = <0x1f006000 0x1f>;
			clocks = <&xtal12>;
			interrupts-extended = <&intc_fiq 2 IRQ_TYPE_LEVEL_HIGH>;
		};

		timer0: timer@1f006040 {
			compatible = "mstar,msc313e-timer";
			reg = <0x1f006040 0x40>;
			clocks = <&xtal12>;
			interrupts-extended = <&intc_fiq 0 IRQ_TYPE_LEVEL_HIGH>;
		};

		timer1: timer@1f006080 {
			compatible = "mstar,msc313e-timer";
			reg = <0x1f006080 0x40>;
			clocks = <&xtal12>;
			interrupts-extended = <&intc_fiq 1 IRQ_TYPE_LEVEL_HIGH>;
		};

		timer2: timer@1f0060c0 {
			compatible = "mstar,msc313e-timer";
			reg = <0x1f0060c0 0x40>;
			clocks = <&xtal12>;
			interrupts-extended = <&intc_fiq 12 IRQ_TYPE_LEVEL_HIGH>;
		};

		gic: interrupt-controller@16001000 {
			compatible = "arm,cortex-a7-gic";
			#interrupt-cells = <3>;
			#address-cells = <1>;
			#size-cells = <1>;
			interrupt-controller;
			reg = <0x16001000 0x1000>,
			      <0x16002000 0x1000>;
		};

		bdma: bdma@1f200400 {
			compatible = "mstar,msc313-bdma";
			reg = <0x1f200400 0x80>;
			interrupt-parent = <&intc_irq>;
			interrupts = <40 IRQ_TYPE_LEVEL_HIGH>,
				     <41 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clkgen_mux_bdma 0>;
			status = "okay";
			#dma-cells = <1>;
		};

		intc_fiq: intc@1f201310 {
			compatible = "mstar,msc313e-intc-fiq";
			interrupt-controller;
			reg = <0x1f201310 0x40>;
			#interrupt-cells = <2>;
			interrupt-parent = <&gic>;
			gic-offset = <96>;
			nr-interrupts = <32>;
		};

		intc_irq: intc@1f201350 {
			compatible = "mstar,msc313e-intc-irq";
			interrupt-controller;
			reg = <0x1f201350 0x40>;
			#interrupt-cells = <2>;
			interrupt-parent = <&gic>;
			gic-offset = <32>;
			nr-interrupts = <64>;
		};

		miu: miu@1f202200 {
			compatible = "mstar,msc313-miu";
			reg = <0x1f202000 100>,
			      /*<0x1f202200 100>,*/
			      <0x1f202400 100>;
			interrupt-parent = <&intc_irq>;
			interrupts = <49 IRQ_TYPE_LEVEL_HIGH>;
			clock-names = "miu", "ddr";
			clocks = <&clkgen_mux_miu 0>, <&clkgen_mux_ddrsyn 0>;
		};

		l3bridge: l3bridge@1f204400 {
			/*1f204414 - cache flush*/
			/*1f204440 - status */
		};

		cpuclk: cpuclk@1f206500 {
			compatible = "mstar,msc313e-cpuclk";
			reg = <0x1f206500 0x100>;
			#clock-cells = <0>;
			clocks = <&clkgen_pll 6>;
		};

		// gating xtali stops interrupts from the
		// arch timer
		clkgen_mux_xtali: clkgen_mux@1f207000 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f207000 0x4>;
			#clock-cells = <1>;
			clock-output-names = "xtali", "xtali_sc_gp";
			output-flags = <0x800>, <0x0>;
			shifts = <0>, <4>;
			mux-shifts = <2>, <6>;
			mux-widths = <2>, <2>;
			clocks = <&xtal12>;
		};

		clkgen_mux_miu: clkgen_mux@1f20705c {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f20705c 0x4>;
			#clock-cells = <1>;
			clock-output-names = "miu";
			output-flags = <0x800>;
			shifts = <0>;
			mux-shifts = <2>;
			mux-widths = <2>;
			clocks = <&clkgen_mux_ddrsyn 0>;
		};

		clkgen_mux_ddrsyn: clkgen_mux@1f207064 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f207064 0x4>;
			#clock-cells = <1>;
			clock-output-names = "ddrsyn";
			output-flags = <0x800>;
			shifts = <0>;
			mux-shifts = <2>;
			mux-widths = <2>;
			clocks = <&clkgen_pll 6>,
				 <&clkgen_pll 9>,
				 <&xtal12>;
		};

		clkgen_mux_uart: clkgen_mux@1f2070c4 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f2070c4 0x4>;
			#clock-cells = <1>;
			clock-output-names = "uart0", "uart1";
			shifts = <0>, <8>;
			mux-shifts = <2>, <10>;
			mux-widths = <2>, <2>;
			clocks = <&clkgen_pll 10>,
				 <&clk_mpll_288_div2>,
				 <&xtal12>;
		};

		clkgen_mux_miic: clkgen_mux@1f2070dc {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f2070dc 0x4>;
			#clock-cells = <1>;
			clock-output-names = "miic0", "miic1";
			shifts = <0>, <8>;
			mux-shifts = <2>, <10>;
			mux-widths = <2>, <2>;
			clocks = <&clk_mpll_288_div4>,
				 <&clk_mpll_216_div4>,
				 <&xtal12>;
		};

		clkgen_mux_sdio: clkgen_mux@1f207114 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f207114 0x4>;
			#clock-cells = <1>;
			clock-output-names = "sdio";
			shifts = <0>;
			mux-shifts = <2>;
			mux-widths = <3>;
			clocks = <&clk_utmi_192_div4>,
				 <&clk_mpll_86_div2>,
				 <&clk_utmi_160_div4>,
				 <&clk_mpll_288_div8>,
				 <&clk_utmi_160_div5>,
				 <&clk_utmi_160_div8>,
				 <&xtal12>,
				 <&xtal12_div40>;
		};

		clkgen_mux_bdma: clkgen_mux@1f207180 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f207180 0x4>;
			#clock-cells = <1>;
			clock-output-names = "bdma";
			shifts = <0>;
			mux-shifts = <2>;
			mux-widths = <2>;
			clocks = <&clkgen_mux_miu 0>;
		};

		clkgen_mux_aesdma_isp: clkgen_mux@1f207184 {
			compatible = "mstar,msc313e-clkgen-mux";
			reg = <0x1f207184 0x4>;
			#clock-cells = <1>;
			clock-output-names = "aesdma", "isp";
			shifts = <0>, <8>;
			mux-shifts = <2>, <10>;
			mux-widths = <2>, <2>;
			mux-ranges = <0 2>, <2 4>;
			clocks = /* aesdma */
				<&clkgen_pll 14>,
				<&clkgen_pll 10>,
				/* isp */
				<&clkgen_pll 12>,
				<&clkgen_pll 14>,
				<&clk_mpll_288_div4>,
				<&clk_mpll_216_div4>;
		};
		
		/* this should be renamed to clk gates or something */
		clkgen_pll: clkgen_pll@1f2071c0 {
			compatible = "mstar,msc313e-clkgen-pll";
			reg = <0x1f2071c0 0x10>;
			#clock-cells = <1>;
			clock-output-names = "upll_384", "upll_320", "utmi_160", "utmi_192",
					     "utmi_240", "utmi_480", "mpll_432", "mpll_345",
					     "mpll_288", "mpll_216", "mpll_172", "mpll_144",
					     "mpll_123", "mpll_124", "mpll_86", "pll_rv1";
			clock-rates = <384000000>, <320000000>, <160000000>, <192000000>,
			              <240000000>, <480000000>, <432000000>, <345000000>,
			              <288000000>, <216000000>, <172000000>, <144000000>,
			              <123000000>, <124000000>, <86000000>, <0>;
			clock-upstreams = <1>, <1>, <0>, <0>,
					  <0>, <0>, <0>, <0>,
					  <0>, <0>, <0>, <0>,
					  <0>, <0>, <0>, <0>;
			clocks = <&xtal24>, <&upll0>; /*<&utmi>;*/
		};

		gpio: gpio@1f207800 {
			#gpio-cells = <2>;
			reg = <0x1f207800 0x200>;
			gpio-controller;
			status = "disabled";
		};
		
		pinctrl: pinctrl@1f203c00 {
			reg = <0x1f203c00 0x200>;
			pm_uart_pins: pm_uart {
				function = "pm_uart";
				groups = "pm_uart";
			};
			pm_spi_pins: pm_spi {
				function = "pm_spi";
				groups = "pm_spi";
			};
			emac_pins: eth {
				function = "eth";
				groups = "eth";
			};
			fuart_pins: fuart {
				function = "fuart";
				groups = "fuart";
			};
			fuart_rx_tx_rts_pins: fuart_rx_tx_rts {
				function = "fuart";
				groups = "fuart_rx_tx_rts";
			};
			uart1_pins: uart1 {
				function = "uart1";
				groups = "fuart_cts_rts";
			};
			uart1_cts_pins: uart1_cts {
				function = "uart1";
				groups = "fuart_cts";
			};
			i2c0_pins: i2c0 {
				function = "i2c0";
				groups = "i2c0";
			};
			i2c1_pins: i2c1 {
				function = "i2c1";
				groups = "i2c1";
			};
			spi0_spi0_pins: spi0_spi0 {
				function = "spi0";
				groups = "spi0";
			};
			spi0_fuart_pins: spi0_fuart {
				function = "spi0";
				groups = "fuart";
			};
			spi1_sd_d0_d1_d2_d3_pins: spi1_sd_d0_d1_d2_d3 {
				function = "spi1";
				groups = "sd_d0_d1_d2_d3";
			};
			sdio_pins: sdio {
				function = "sdio";
				groups = "sd";
				bias-pull-up;
			};
		};

		pm_uart: uart@1f221000 {
			compatible = "mstar,msc313-uart";
			reg = <0x1f221000 0x100>;
			reg-shift = <3>;
			clocks = <&clkgen_mux_uart 0>;
			interrupts-extended = <&intc_irq 34 IRQ_TYPE_LEVEL_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&pm_uart_pins>;
			status = "disabled";
		};

		uart1: uart@1f221200 {
			compatible = "mstar,msc313-uart";
			reg = <0x1f221200 0x100>;
			interrupts-extended = <&intc_irq 35 IRQ_TYPE_LEVEL_HIGH>;
			reg-shift = <3>;
			clocks = <&clkgen_mux_uart 1>;
			status = "disabled";
		};

		mspi0: mspi@1f222100 {
			compatible = "mstar,msc313-spi";
			reg = <0x1f222100 0x100>;
			interrupt-parent = <&intc_irq>;
			interrupts = <38 IRQ_TYPE_LEVEL_HIGH>;
			status = "disabled";
		};

		mspi1: mspi@1f222300 {
			compatible = "mstar,msc313-spi";
			reg = <0x1f222300 0x100>;
			interrupt-parent = <&intc_irq>;
			interrupts = <39 IRQ_TYPE_LEVEL_HIGH>;
			status = "disabled";
		};

		i2c0: i2c0@1f223000 {
			compatible = "mstar,msc313e-i2c";
			reg = <0x1f223000 0x200>;
			interrupt-parent = <&intc_irq>;
			interrupts = <36 IRQ_TYPE_LEVEL_HIGH>;
			#address-cells = <1>;
			#size-cells = <0>;
			clocks = <&clkgen_mux_miic 0>;
			clock-names = "i2c_clk";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_pins>;
			status = "disabled";
		};

		i2c1: i2c1@1f223200 {
			compatible = "mstar,msc313e-i2c";
			reg = <0x1f223200 0x200>;
			interrupt-parent = <&intc_irq>;
			interrupts = <37 IRQ_TYPE_LEVEL_HIGH>;
			#address-cells = <1>;
			#size-cells = <0>;
			clocks = <&clkgen_mux_miic 1>;
			clock-names = "i2c_clk";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c1_pins>;
			status = "disabled";
		};

		/* csi - camera interface */
		csi: csi@1f240800 {
			reg = <0x1f240800 0x200>;
			interrupts-extended = <&intc_irq 32 IRQ_TYPE_LEVEL_HIGH>;
		};

		/* gop - framebuffer */
		gop: gop@0x1f246200 {
			compatible = "mstar,gop";
			reg = <0x1f246200 0x200>;
			interrupts-extended = <&intc_irq 50 IRQ_TYPE_LEVEL_HIGH>;
		};

		upll0: upll@1f284000 {
			#clock-cells = <0>;
			compatible = "mstar,msc313-upll";
			reg = <0x1f284000 0x20>;
			clocks = <&xtal12>;
		};

		usbphy0: usbphy@0 {
			#phy-cells = <1>;
			compatible = "mstar,msc313-usb-phy";
			clocks = <&xtal12>;
			mstar,utmi = <&utmi0>;
			mstar,usbc = <&usbc0>;
			interrupts-extended = <&intc_irq 30 IRQ_TYPE_LEVEL_HIGH>;
			status = "disabled";
		};

		utmi0: utmi@1f284200 {
			compatible = "syscon";
			reg = <0x1f284200 0x80>;
		};

		usbc0: usbc@1f284600 {
			compatible = "syscon";
			reg = <0x1f284600 0x20>;
		};

		uhc0: uhc@1f284800 {
			compatible = "mstar,msc313-ehci";
			reg = <0x1f284800 0x200>;
			interrupts-extended = <&intc_irq 31 IRQ_TYPE_LEVEL_HIGH>;
			phys = <&usbphy0 0>;
			phy-names = "usb";
			mstar,usbc = <&usbc0>;
			status = "disabled";
		};

		utmi1: utmi@1f285200 {
			compatible = "syscon";
			reg = <0x1f285200 0x80>;
		};

		usbc1: usbc@1f286200 {
			compatible = "syscon";
			reg = <0x1f286200 0x20>;
		};

		usbphy1: usbphy@1 {
			#phy-cells = <1>;
			compatible = "mstar,msc313-usb-phy";
			clocks = <&xtal12>;
			mstar,utmi = <&utmi1>;
			mstar,usbc = <&usbc1>;
		};

		uhc1: uhc@1f286400 {
			compatible = "mstar,msc313-ehci";
			reg = <0x1f286400 0x200>;
			interrupts-extended = <&intc_irq 55 IRQ_TYPE_LEVEL_HIGH>;
			phys = <&usbphy1 0>;
			phy-names = "usb";
			mstar,usbc = <&usbc1>;
			status = "disabled";
		};

		sram: sram@a0000000 {
			compatible = "mmio-sram";
			reg = <0xa0000000 0x10000>;
		};
	};
};
