// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "chenxing-v7.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	cpu0_opp_table: opp_table0 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-100000000 {
			opp-hz = /bits/ 64 <100000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <300000>;
		};

		opp-200000000 {
			opp-hz = /bits/ 64 <200000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <300000>;
		};

		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <300000>;
		};
		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <300000>;
		};

		opp-800000000 {
			opp-hz = /bits/ 64 <800000000>;
			opp-microvolt = <1000000>;
			clock-latency-ns = <300000>;
		};
	};

	clkgen_mux_spi_mcu_pm: clkgen_mux@1f001c80 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f001c80 0x4>;
		#clock-cells = <1>;
		clock-output-names = "mcu_pm", "spi_pm";
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <4>, <4>;
		mux-ranges = <0 1>, <1 16>;
		clocks = /* mcu_pm */
				 <&clkgen_pll 9>,
				 /* spi_pm */
				 <&rtc_32k>,
				 <&clk_mpll_216_div8>,
				 <&clk_mpll_144_div4>,
				 <&clk_mpll_86_div2>,
				 <&clk_mpll_216_div4>,
				 <&clk_mpll_144_div2>,
				 <&clkgen_pll 14>,
				 <&clk_mpll_216_div2>,
				 <&xtal12_div8>,
				 <&xtal12_div12>,
				 <&rtc32k_div4>,
				 <&xtal12_div16>,
				 <&xtal12_div2>,
				 <&xtal12_div4>,
				 <&xtal12>,
				 <&xtal24>;
	};

	/* bit 10 in here controls something to do with the temp sensor */
	tmpsensor_magic2@1f001d90 {
		compatible = "syscon";
		reg = <0x1f001d90 0x4>;
	};

	pmtop: syscon@1f003c00 {
		/*
		 * 0x1f003c00 - chip rev
		 */
		 compatible = "syscon";
		reg = <0x1f003c00 0x4>;
	};

        did: did@0x1f007000 {
			compatible = "mstar,msc313-did";
			reg = <0x1f007000 0x8>;
        };

	phyclk25: phyclk25 {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
	};

	clkgen_mux_mcu_ruibrdg: clkgen_mux@1f207004 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f207004 0x4>;
		#clock-cells = <1>;
		clock-output-names = "mcu", "ruibrdg";
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <2>, <2>;
		mux-ranges = <0 4 >, <4 1>;
		clocks = <&clkgen_pll 9>,
				 <&clkgen_pll 10>,
				 <&clk_mpll_288_div2>,
				 <&clk_mpll_216_div2>,
				 <&clkgen_mux_mcu_ruibrdg 0>;
	};
	
	phyclk25: phyclk25 {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
	};

	clkgen_mux_mcu_ruibrdg: clkgen_mux@1f207004 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f207004 0x4>;
		#clock-cells = <1>;
		clock-output-names = "mcu", "ruibrdg";
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <2>, <2>;
		mux-ranges = <0 4 >, <4 1>;
		clocks = <&clkgen_pll 9>,
				 <&clkgen_pll 10>,
				 <&clk_mpll_288_div2>,
				 <&clk_mpll_216_div2>,
				 <&clkgen_mux_mcu_ruibrdg 0>;
	};
	
	/* 
	 * This seems important as the ipl turns it on at boot.
	 * Maybe tck == test clock? for JTAG?
	 */
	clkgen_mux_tck: clkgen_mux@1f2070c0 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f2070c0 0x4>;
		#clock-cells = <1>;
		clock-output-names = "tck";
		shifts = <0>;
		clocks = <&xtal12>; /* this is wrong */
	};

	clkgen_mux_spi: clkgen_mux@1f2070c8 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f2070c8 0x4>;
		#clock-cells = <1>;
		clock-output-names = "spi"; 
		shifts = <0>;
		mux-shifts = <2>;
		mux-widths = <2>;
		clocks = <&clkgen_pll 9>,
			 <&clk_mpll_216_div2>,
			 <&clkgen_pll 14>,
		         <&clk_mpll_288_div4>;
	};

	clkgen_mux_mspi: clkgen_mux@1f2070cc {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f2070cc 0x4>;
		#clock-cells = <1>;
		clock-output-names = "mspi0", "mspi1"; 
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <2>, <2>;
		clocks = <&clk_mpll_216_div2>,
		         <&clk_mpll_216_div4>,
		         <&xtal12>;
	};

	clkgen_mux_fuart: clkgen_mux@1f2070d0 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f2070d0 0x4>;
		#clock-cells = <1>;
		clock-output-names = "fuart", "fuart0_synth";
		shifts = <0>, <4>;
		mux-shifts = <2>, <6>;
		mux-widths = <2>, <2>;
		mux-ranges = <0 5>, <5 2>;
		clocks = <&clkgen_pll 10>,
				 <&clk_mpll_216_div2>,
		         <&clk_mpll_216_div4>,
		         <&xtal12>,
		         <&clkgen_mux_fuart 1>,
		         /* synth*/
		         <&clkgen_pll 6>,
		         <&clkgen_pll 9>;
	};
	
	clkgen_mux_emac: clkgen_mux@1f207108 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f207108 0x4>;
		#clock-cells = <1>;
		clock-output-names = "emac";
		shifts = <0>;
		mux-shifts = <2>;
		mux-widths = <2>;
		output-flags = <0x800>; /* this marks the clock as critical, gating this clock stops access to the registers */
		clocks = <&clk_mpll_288_div2>,
			 <&clkgen_pll 12>,
			 <&clkgen_pll 14>;
	};
	
	clkgen_mux_sr_sr_mclk: clkgen_mux@1f207188 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f207188 0x4>;
		#clock-cells = <1>;
		clock-output-names = "sr", "sr_mclk";
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <2>, <3>;
		clocks = <&clkgen_pll 10>; /* this is wrong */
	};

	clkgen_mux_jpe: clkgen_mux@1f2071a8 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f2071a8 0x4>;
		#clock-cells = <1>;
		clock-output-names = "jpe";
		shifts = <0>;
		mux-shifts = <2>;
		mux-widths = <2>;
		clocks = <&clkgen_pll 8>,
			 <&clkgen_pll 9>,
			 <&clk_mpll_216_div4>,
			 <&clk_mpll_216_div8>;
	};
	
	// gating 216_2digpm stops the system
	clkgen_mux_2digpm: clkgen_mux@1f2071b4 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f2071b4 0x4>;
		#clock-cells = <1>;
		clock-output-names = "hemcu_216",
				     "216_2digpm", 
				     "172_2digpm",
				     "144_2digpm",
				     "123_2digpm",
				     "86_2digpm";
		shifts = <0>, <1>, <2>, <3>, <4>, <5>;
		clocks = <&clkgen_pll 10>; /* this is wrong */
	};
	
	clkgen_special_imi_nm: clkgen_mux@1f226680 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f226680 0x4>;
		#clock-cells = <1>;
		clock-output-names = "imi", "nlm";
		shifts = <0>, <8>;
		clocks = <&clkgen_pll 10>; /* this is wrong */
	};

	clkgen_special_emac_rx: clkgen_special@0x1f226688 {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f226688 0x4>;
		#clock-cells = <1>;
		clock-output-names = "emac_rx", "emac_rx_ref";
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <2>, <2>;
		output-flags = <0x800>;
		clocks = <&phyclk25>;
	};
	
	clkgen_special_emac_tx: clkgen_special@0x1f22668c {
		compatible = "mstar,msc313e-clkgen-mux";
		reg = <0x1f22668c 0x4>;
		#clock-cells = <1>;
		clock-output-names = "emac_tx", "emac_tx_ref";
		shifts = <0>, <8>;
		mux-shifts = <2>, <10>;
		mux-widths = <2>, <2>;
		output-flags = <0x800>;
		clocks = <&phyclk25>;
	};
	
	cmdq: cmdq@1f224000 {
		reg = <0x1f224000 0x200>;
		compatible = "mstar,msc313-cmdq";
		interrupt-parent = <&intc_irq>;
		interrupts = <17 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkgen_mux_miu 0>;
	};
	
	aesdma: aesdma@1f224400 {
	    /* maybe 0x1f112220 */
		reg = <0x1f224400 0x200>;
		compatible = "mstar,msc313e-aesdma";
		/*interrupt-parent = <&intc_irq>;
		interrupts = <37 IRQ_TYPE_LEVEL_HIGH>;*/
		clocks = <&clkgen_mux_aesdma_isp 0>;
	};
	
	mcm0: mcm@1f226000 {
		compatible = "mstar,msc313-mcm";
		reg = <0x1f226000 0x8>;
	};
	
	mcm1: mcm@1f226400 {
		compatible = "mstar,msc313-mcm";
		reg = <0x1f226400 0x8>;
		/*1f226400 */
		/*1f226404 */
		/*1f226408 */
	};
	
	sramgates: gates@0x1f226640 {
	};
	
	mcm2: mcm@1f226800 {
		compatible = "mstar,msc313-mcm";
		reg = <0x1f226800 0xa8>;
	};
	
	/* holder for notes */
	fcie {
		interrupts = <18 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&soc {	
	pwm0: pwm@1f001da0 {
		compatible = "mstar,msc313-pwm";
		reg = <0x1f001da0 0xc>;
		#pwm-cells = <2>;
		clocks = <&xtal12>;
		status = "disabled";
	};

	fuart: uart@1f220400 {
		compatible = "mstar,msc313-uart";
		reg = <0x1f220400 0x100>;
		/* 
		 * DMA registers
		 * <0x1f220600 0x100>
		 */
		interrupt-parent = <&intc_irq>;
		interrupts = <47 IRQ_TYPE_LEVEL_HIGH>;
		reg-shift = <3>;
		clocks = <&clkgen_mux_fuart 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&fuart_pins>;
		status = "disabled";
	};

	/* jpe - jpeg encoder */
	jpe: jpe@0x1f264000 {
		reg = <0x1f264000 0x100>;
		interrupt-parent = <&intc_irq>;
		interrupts = <29 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkgen_mux_jpe 0>;
	};
		
	/* mfe - video encoder*/
	mfe: mfe@1f264800 {
		reg = <0x1f264800 0x200>;
		interrupts = <28 IRQ_TYPE_LEVEL_HIGH>;
	};
		
	/* vhe - hevc encoder? English in comments is very good
	 * so likely this is an IP block
	 */
	vhe: vhe@1f265000 {
		reg = <0x1F265200 0x200>,
		      <0x1F265000 0x100>;
		interrupts = <21 IRQ_TYPE_LEVEL_HIGH>;
	};

	bc: bc@1f284400 {
		/* 0x1f284400 - Called "BC" which seems to be battery charger */
		reg = <0x1f284400 0x200>;
	};
	
	fakephy0: fakephy@0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};

	sdio: sdio@1f282000 {
		compatible = "mstar,msc313-sdio";
		interrupt-parent = <&intc_irq>;
		interrupts = <19 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkgen_mux_sdio 0>;
		reg = <0x1f282000 0x200>;
		no-1-8-v;
		cap-sd-highspeed;
		bus-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&sdio_pins>;
		cd-gpios = <&gpio_pm 1 GPIO_ACTIVE_LOW>;
		status = "disabled";
	};

	otg0: otg@1f284a00 {
		compatible = "mstar,msc313-musb";
		reg = <0x1f284a00 0x200>;
		interrupt-names = "mc";
		interrupts-extended = <&intc_irq 32 IRQ_TYPE_LEVEL_HIGH>;
		phys = <&fakephy0>;
		mstar,usbc = <&usbc0>;
		clock-names = "udc";
		clocks = <&xtal12>;
		status = "disabled";
	};

	emac: emac@1f2a2000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "cdns,msc313";
		interrupt-parent = <&intc_irq>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;
		reg = <0x1f2a2000 0x4000>;
		phy-mode = "mii";
		clock-names = "pclk", "hclk", "tx_clk", "rx_clk";
		clocks = <&clkgen_mux_emac 0>, 
				 <&clkgen_mux_emac 0>, 
				 <&clkgen_special_emac_tx 0>, 
				 <&clkgen_special_emac_rx 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&emac_pins>;
		local-mac-address = [00 00 00 00 00 00];
		status = "disabled";
		/*
			albany ethernet phy
			0x1f006200
			0x1f006400
			0x1f006600
		*/
		/*reg = <0x1f006200 0x4000>;*/
		phy-handle = <&phy>;
		phy: phy@0 {
			compatible = "ethernet-phy-idDEAD.BEEF";
			phy-is-integrated;
			reg = <0>;
		};
	};
};

&cpu0 {
	operating-points-v2 = <&cpu0_opp_table>;
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
};

&gpio {
	compatible = "mstar,msc313e-gpio";
	gpio-ranges = <&pinctrl 0 36 22>,
		      <&pinctrl 22 63 4>,
		      <&pinctrl 26 68 6>;
	interrupt-parent = <&intc_fiq>;
	interrupt-names = "spi0_cz",
			  "spi0_ck",
			  "spi0_di",
			  "spi0_do";
	interrupts = <28 IRQ_TYPE_LEVEL_HIGH>,
		     <29 IRQ_TYPE_LEVEL_HIGH>,
		     <30 IRQ_TYPE_LEVEL_HIGH>,
		     <31 IRQ_TYPE_LEVEL_HIGH>;
	status = "okay";
};

&gpio_pm {
	compatible = "mstar,msc313-gpio-pm";
	interrupt-names = "pm_gpio4", "pm_sd_sdz";
	interrupts-extended = <&gpio_pm 0 6 IRQ_TYPE_LEVEL_HIGH>,
			      <&intc_fiq 23 IRQ_TYPE_LEVEL_HIGH>;
	status = "okay";
};

&sar {
	compatible = "mstar,msc313e-sar";
	clocks = <&clkgen_mux_rtc_sar 1>;
	clock-names = "sar_clk";
};

