// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "chenxing-v7.dtsi"

/ {
};

&soc {
	sd: sd@1f282600 {
		compatible = "mstar,msc313-sdio";
		reg = <0x1f282600 0x200>;
		no-1-8-v;
		cap-sd-highspeed;
		bus-width = <4>;
		clocks = <&clkgen_mux_sdio 0>;
		status = "disabled";
	};
};

&sram {
	reg = <0xa0000000 0x20000>;
};
