// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "chenxing-v7.dtsi"

/ {
};

&soc {
	sd: sd@1f282600 {
		compatible = "mstar,msc313-sdio";
		reg = <0x1f282600 0x200>;
		no-1-8-v;
		cap-sd-highspeed;
		bus-width = <4>;
		clocks = <&clkgen_mux_sdio 0>;
		status = "disabled";
	};

	// from disassembly
	utmi1: utmi@1f285200 {
		compatible = "syscon";
		reg = <0x1f285200 0x80>;
	};

	usbc1: usbc@1f285600 {
		compatible = "syscon";
		reg = <0x1f285600 0x20>;
	};

	usbphy1: usbphy@1 {
		#phy-cells = <1>;
		compatible = "mstar,msc313-usb-phy";
		clocks = <&xtal12>;
		mstar,utmi = <&utmi1>;
		mstar,usbc = <&usbc1>;
		interrupts-extended = <&intc_irq 30 IRQ_TYPE_LEVEL_HIGH>;
	};
	//
};

&sram {
	reg = <0xa0000000 0x20000>;
};
