// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@0x0f.com>
 *
 */
 
/* for the msc313e there is only a 24mhz clock input so everything else must come
 * from this base clock unless there are some on-die oscillators that aren't mentioned
 * anywhere.
 */
 
xtal24: xtal24 {
	#clock-cells = <0>;
	compatible = "fixed-clock";
	clock-frequency = <24000000>;
};

xtal12: xtal12 {
	#clock-cells = <0>;
	compatible = "fixed-factor-clock";
    clocks = <&xtal24>;
    clock-div = <2>;
    clock-mult = <1>;
};
