// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2019 thingy.jp.
 * Author: Daniel Palmer <daniel@0x0f.com>
 *
 */

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/msc313e-irq.h>

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&gic>;

	compatible = "mstar,msc313e";

	memory {
		device_type = "memory";
		reg = <0x20000000 0x4000000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x0>;
			clocks = <&cpuclk 0>;
			clock-names = "cpuclk";
			operating-points-v2 = <&cpu0_opp_table>;
		};
	};

	cpu0_opp_table: opp_table0 {
		compatible = "operating-points-v2";
		opp-shared;

		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
			clock-latency-ns = <300000>;
		};
		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			clock-latency-ns = <300000>;
		};

		opp-800000000 {
			opp-hz = /bits/ 64 <800000000>;
			clock-latency-ns = <300000>;
		};

		opp-1000000000 {
			opp-hz = /bits/ 64 <1000000000>;
			clock-latency-ns = <300000>;
			turbo-mode;
		};
	};

	clks: clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		xtal24: xtal24 {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
		};
		
		emac_clk: emac_clk {
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <24000000>;
		};
	};

	arch_timer {
		compatible = "arm,armv7-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <6000000>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gic: interrupt-controller@16000000 {
			compatible = "arm,cortex-a7-gic";
			#interrupt-cells = <3>;
			#address-cells = <1>;
			#size-cells = <1>;
			interrupt-controller;
			reg = <0x16001000 0x1000>,
			      <0x16002000 0x1000>;
		};

		pinctrl: pinctrl {
			compatible = "mstar,msc313e-pinctrl";
			/* this seems to be the pin mux */
			reg = <0x1f203C00 0x200>,
			/* this seems to be a dedicated gpio block that is mux'd with the peripherals*/
				<0x1f207800 0x200>,
			/* these are pins that are part of the pm block? */
				<0x1f001E00 0x200>,
			/* this is the SAR block */
				<0x1f001C00 0x200>;
			gpio-num = <2>;
		};

		/* This uart is hardwired and cannot be muxd out */
		pm_uart: uart@1f221000 {
			compatible = "ns16550a";
			reg = <0x1f221000 0x200>;
			/*interrupts = <GIC_SPI 34 IRQ_TYPE_LEVEL_HIGH>;*/
			reg-shift = <3>;
			clock-frequency = <172800000>;
			status = "disabled";
		};

		uart0: uart@1f221200 {
			compatible = "ns16550";
			reg = <0x1f221200 0x200>;
			/*interrupts = <GIC_SPI 99 IRQ_TYPE_LEVEL_HIGH>;*/
			reg-shift = <3>;
			clock-frequency = <172800000>;
			status = "disabled";
		};

		pmu {
			compatible = "arm,cortex-a7-pmu";
			interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
						<GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>,
						<GIC_SPI 22 IRQ_TYPE_LEVEL_HIGH>,
						<GIC_SPI 28 IRQ_TYPE_LEVEL_HIGH>;
		};
		
		cpuclk: cpuclk@1f206500 {
			compatible = "mstar,msc313e-cpuclk";
			reg = <0x1f206500 0x100>;
			#clock-cells = <1>;
		};
		
		wdt: wdt@1f006000 {
			compatible = "mstar,msc313e-wdt";
			reg = <0x1f006000 0x1F>;
		};
				
		emac: emac@1f2a2000 {
			compatible = "cdns,emac";
			interrupts = <GIC_SPI 26 IRQ_TYPE_LEVEL_HIGH>;
			reg = <0x1f2a2000 0x4000>;
			phy-mode = "mii";
			clocks = <&emac_clk 0>;
			clock-names = "ether_clk";
			/*status = "disabled";*/
		};

	};
};
