/*
 */

/dts-v1/;
#include "msc313e.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "thingy.jp thumbee";
	compatible = "thingyjp,thumbee", "mstar,msc313e";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		console = &pm_uart;
	};
	
	leds {
		compatible = "gpio-leds";
		heartbeat {
			gpios = <&gpio 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};
	};
	
	pwmleds {
		compatible = "pwm-leds";
		test {
			pwms = <&pwm 3 0>;
			max-brightness = <127>;
		};
	};
	
	gpio-keys {
		compatible = "gpio-keys";
		interrupt-parent = <&pm_pinctrl>;
		test {
			label = "test";
			linux,code = <103>;
			gpios = <&pm_pinctrl 0 IRQ_TYPE_LEVEL_HIGH>;
		};
	};
};

&pm_uart {
	status = "okay";
};

&emac {
	status = "okay";
};

&spi_nor {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		
		rootfs@800000 {
			label = "rootfs";
			reg = <0x800000 0x800000>;
		};
	};
};

&sar {
	status = "okay";
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm1_pins>;
	status = "okay";
};
