/*
 */

/dts-v1/;
#include "msc313e.dtsi"

/ {
	model = "thingy.jp thumbee";
	compatible = "thingyjp,thumbee", "mstar,msc313e";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	aliases {
		console = &pm_uart;
	};
};

&pm_uart {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&emac {
	status = "okay";
};