/*
 * Device Tree Source for the Genmai board
 *
 * Copyright (C) 2013-14 Renesas Solutions Corp.
 * Copyright (C) 2014 Wolfram Sang, Sang Engineering <wsa@sang-engineering.com>
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include "r7s72100.dtsi"

/ {
	model = "GR Peach";
	compatible = "renesas,genmai", "renesas,r7s72100";

	aliases {
		serial2 = &scif2;
	};

	chosen {
		bootargs = "root=/dev/mtdblock4";
		stdout-path = &scif2;
	};

	memory {
		device_type = "memory";
		reg = <0x20000000 0xA00000>;
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};
	
	spirom: spirom@0 {
		compatible = "mtd-rom";
		reg = <0x18000000 0x2000000>;
		bank-width = <4>;
		
		partition@0 {
			label = "u-boot";
			reg = <0x0000000 0x080000>;
			read-only;
		};
		
		partition@1 {
			label = "env";
			reg = <0x00080000 0x040000>;
			read-only;
		};
		
		partition@3 {
			label = "devicetree";
			reg = <0x000C0000 0x040000>;
			read-only;
		};
		
		partition@4 {
			label = "kernel";
			reg = <0x00100000 0x280000>;
			read-only;
		};
		
		partition@5 {
			label = "rootfs";
			reg = <0x00400000 0x1C0000>;
			read-only;
		};
	};
	
};

&extal_clk {
	clock-frequency = <13330000>;
};

&usb_x1_clk {
	clock-frequency = <48000000>;
};

&mtu2 {
	status = "okay";
};

&i2c2 {
	status = "okay";
	clock-frequency = <400000>;

	eeprom@50 {
		compatible = "renesas,24c128";
		reg = <0x50>;
		pagesize = <64>;
	};
};

&scif2 {
	status = "okay";
};
