/*
 * Device Tree Source for the Genmai board
 *
 * Copyright (C) 2013-14 Renesas Solutions Corp.
 * Copyright (C) 2014 Wolfram Sang, Sang Engineering <wsa@sang-engineering.com>
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "r7s72100.dtsi"

/ {
	model = "GR Peach";
	compatible = "renesas,genmai", "renesas,r7s72100";

	aliases {
		serial2 = &scif2;
	};

	chosen {
		bootargs = "root=/dev/mtdblock4";
		stdout-path = &scif2;
	};

	memory {
		device_type = "memory";
		reg = <0x20000000 0xA00000>;
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};
	
	spirom: spirom@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mtd-rom";
		reg = <0x18000000 0x800000>;
		bank-width = <4>;
		
		partition@0 {
			label = "u-boot";
			reg = <0x0000000 0x80000>;
			read-only;
		};
		
		partition@1 {
			label = "env";
			reg = <0x00080000 0x40000>;
			read-only;
		};
		
		partition@3 {
			label = "devicetree";
			reg = <0x000C0000 0x040000>;
			read-only;
		};
		
		partition@4 {
			label = "kernel";
			reg = <0x00100000 0x300000>;
			read-only;
		};
		
		partition@5 {
			label = "rootfs";
			reg = <0x00400000 0x400000>;
			read-only;
		};
	};
	
	leds {
		compatible = "gpio-leds";  
		usr {
		    label = "usr";
		    gpios = <&port6 12 0>;
		    linux,default-trigger = "heartbeat";
		    default-state = "off";
		};
		rgb_r {
		    label = "rgb_r";
		    gpios = <&port6 13 0>;
		    default-state = "off";
		};
		rgb_g {
		    label = "rgb_g";
		    gpios = <&port6 14 0>;
		    default-state = "off";
		};
		rgb_b {
		    label = "rgb_b";
		    gpios = <&port6 15 0>;
		    default-state = "off";
		};
	};
	
	
	gpio_keys_polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
       	#size-cells = <0>;
     	poll-interval = <100>;
     	autorepeat;
		button@21 {
			label = "GPIO Key UP";
			linux,code = <103>;
			gpios = <&port6 0 0>;
		};
	};
	
	
	/*
	bitbangspi	{
		compatible = "spi-gpio";
		#address-cells = <0x1>;
		#size-cells = <0>;

		gpio-sck = <&port8 3 0>;
		cs-gpios = <&port8 4 0>;
		gpio-mosi = <&port8 5 0>;
		gpio-miso = <&port8 6 0>;
		
		num-chipselects = <1>;

		pinctrl-names = "default";
		pinctrl-0 = <&spi2bb_pins>;

		mmc-slot@0 {
				compatible = "renesas, grpeachmmc","mmc-spi-slot";
				reg = <0>;
				spi-max-frequency = <500000>;
				gpios = <&port7 8 GPIO_ACTIVE_LOW>;
				voltage-ranges = <3300 3300>;
			};	
	};*/
	
};

&extal_clk {
	clock-frequency = <13330000>;
};

&usb_x1_clk {
	clock-frequency = <48000000>;
};

&mtu2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pins>;
};

&scif2 {
	status = "okay";
};

&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	spidev@0 {
		spi-max-frequency = <24000000>;
		reg = <0>;
		compatible = "linux,spidev";
	};
};

&spi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi2_pins>;
	mmc-slot@0 {
				compatible = "renesas, grpeachmmc","mmc-spi-slot";
				reg = <0>;
				spi-max-frequency = <10000000>;
				gpios = <&port7 8 GPIO_ACTIVE_LOW>;
				voltage-ranges = <3300 3300>;
			};
};
